ul, li, figure {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  text-align: center;
}

figure {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 12.5px solid grey;
}

ul {
  flex: 1;
  list-style: none;
  display: flex;
}

li {
  flex: 1;
}

.blank {
  background-color: white;
}

.snak {
  background-color: green;
}

.apple {
  background-color: red;
}
